# API Settings - IOC Search Tool
# Rename this file to .env and insert your actual keys

# Configurações de API - IOC Search Tool
# Renomeie este arquivo para .env e insira suas chaves reais

#Do not paste the token with a space after the equals sign.
#Não cole o token com espaço após o sinal de igual

VT_API_KEY=<token>
HYBRID_API_KEY=<token>
OTX_API_KEY=<token>
ABUSE_API_KEY=<token>
GREYNOISE_API_KEY=<token>
GOOGLE_API_KEY=<token>
