# Configurações de API - IOC Search Tool
# Renomeie este arquivo para .env e insira suas chaves reais

VT_API_KEY=seu_token_aqui
HYBRID_API_KEY=seu_token_aqui
OTX_API_KEY=seu_token_aqui
ABUSE_API_KEY=seu_token_aqui
GREYNOISE_API_KEY=seu_token_aqui
GOOGLE_API_KEY=seu_token_aqui
